.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.navListItem:not(:last-child) {
  margin-right: 20px;
}

.navLink {
  text-decoration: none;
  color: rgb(210, 234, 249);
}

.navLinkActive {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
